src/
build/
*.log
.env

save/**
!save/
!save/*/
!save/*/.gitkeep
replay/**
!replay/
!replay/*/
!replay/*/.gitkeep
archive/**
!archive/
!archive/*/
!archive/*/.gitkeep

data/illuminators/*
!data/illuminators/.gitkeep

__pycache__/
*.pyc
